/* CSS */
* {margin: 0; padding: 0; user-select: none;}
html {background-image: url('../img/bg-yellow.png');}
img 
{
	display: block;
	padding: 20px;
	float: left;
}
div#main-content.default p
{
	margin: 13px 0;
	font-size: 25px;
	font-family: 'Yatra One', cursive;
}
div#main-content.change-1 p
{
	color: red;
	font-family: chiller;
	font-size: 35px;
	font-weight: 1000;
}
div#main-content.change-2 p
{
	color: blue;
	font-family: 'Girassol', cursive;
	font-size: 25px;
}
div#main-content.change-3 p
{
	color: salmon;
	font-family: tahoma;
	font-size: 20px;
	padding: 30px;
}
h1, h2 
{
	font-family: 'Chicle', cursive;
}
h1 
{
	font-size: 50px;
}
h2
{
	font-size: 40px;
	border-top: 5px solid cornsilk;
	margin-top: 20px;
	padding-top: 20px;
}
body
{
	background-color: white;
	width: 1000px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 25px;
}
ul
{
	margin: 15px 0 15px 45px;
	font-family: 'Yatra One', cursive;
}

li
{
	font-size: 30px;
}
.hide
{
	display: none;
}
.show
{
	display: block;
}
#members-heading:hover 
{ 
	color: #666; transition: color 250ms; 
}
#members-heading
{
	cursor: pointer;
}
button 
{
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
#europe-image
{
	cursor: pointer;
}

